/* styles.css */

body {
  background-color: #121212;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px 0;
  text-align: center;
  color: #33e0a0;
}

p {
  color: #33e0a0;
}

span {
  color: #33e0a0;
  opacity: 0.7;
}

.list {
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.list li {
  background-color: #383838;
  border: 1px solid #33e0a0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 10px;
  color: antiquewhite;
}

.submit-btn {
  background-color: #33e0a0;
  border: none;
  border-radius: 5px;
  color: #121212;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 20px auto 0;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
}

.submit-btn:hover {
  background-color: #33e0a0;
}

.input-text {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.lang-text {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.tripadvisor {
  text-align: center;
}

.tripadvisorlogo {
  height: 250px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}